################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/learning/x64/Debug
/learning/learning.vcxproj.filters
/learning/learning.vcxproj
/learning/learning.sln
/learning/Debug
/learning/.vs/learning/v15
/learning/learning.vcxproj.user
